<!-- views/pages/speedtest.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    margin: 0;            /* Reset default margin */
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #FFF;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
</style>
</head>
<body class="container">
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>   
<script>
  window.extAsyncInit = function() {
   console.log("extAsyncInit");
   MessengerExtensions.getUserID(function success(uids) {
  	// User ID was successfully obtained. 
      	var psid = uids.psid;
	console.log(psid);
    }, function error(err, errorMessage) {      
  	// Error handling code
    });  
  };
</script>
    <main>
         <iframe src="https://www98.verizon.com/SpeedTest/learnspeedtest.aspx#repair"></iframe>
       
    </main>   
</body>
</html>
