<!-- views/pages/speedtest.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
 <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://respframework.verizon.com/vzrf/2-20-0/stylesheets/complete/vzrf.css" rel="stylesheet" />

<style>
body {
    margin: 0;            /* Reset default margin */
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #FFF;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
</style>
</head>
<body class="container">
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>   
<script>
  window.extAsyncInit = function() {
   console.log("extAsyncInit");
   MessengerExtensions.getUserID(function success(uids) {
  	// User ID was successfully obtained. 
      	var psid = uids.psid;
		console.log("PSID" + psid);
    }, function error(err, errorMessage) {      
  	// Error handling code
    });  
  };
  $(document).ready(function() {
   $( "#closeButton" ).click(function() {
   document.location.href= "https://www.messenger.com/closeWindow/?image_url=https%3A%2F%2Fwww98.verizon.com%2Fvzssobot%2Fcontent%2Fverizon-logo-200.png&display_text=Closing Speed Test";
  });
});
  
</script>
    <main>
         <button id="closeButton" class="close-button" onClick="document.location.href=https://www.messenger.com/closeWindow/?image_url=https%3A%2F%2Fwww98.verizon.com%2Fvzssobot%2Fcontent%2Fverizon-logo-200.png&display_text=Closing Speed Test">Close</button>
         <iframe src="https://www98.verizon.com/SpeedTest/learnspeedtest.aspx#repair"></iframe>
        
    </main>   
</body>
</html>
